body{
    height:100vh ;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url('img1.jpg');
    background-position: center;
    background-size: contain;


}

h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    text-align: center;
    color: rgb(113, 240, 22);
    text-shadow: rgba(0, 0, 0, 0.3);
}

.clock{
    display: flex;
}

.clock div{
    margin: 5px;
}

.clock span{
    width: 100px;
    height: 80px;
    opacity: .8;
    color: rgb(106, 229, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.clock .text{
    height: 0px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.8;
}



